.row>*,
.form-row>* {
    flex-shrink: 0;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
}

.sectionPin-3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #eee9d7;
}

.pin-wrap-3 {
    display: flex;
    height: 100vh;
    width: calc(2 * 100vw)
}




/* #region */


.topic-three {
    z-index: 4;
    flex-flow: column;
    flex: none;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding-top: 8.889vh;
    padding-bottom: 8.889vh;
    display: flex;
    background-color: #694d2f;

}


.learning-words-2 {
    z-index: 4;
    flex: none;
    width: 961px;
    height: 100%;
    display: flex;
    background-color: #F7F2E4;
    padding: 10.889vh;
    padding-top: 9.889vh;
    display: flex;
    flex-flow: column;
    position: relative;
}

.learning-words-2>section {
    position: relative;
}

.learning-words-2>section:first-child>img {
    position: absolute;
    width: 6.222vh;
    height: auto;
    inset: -8.5% 19.5% auto auto;
    filter: brightness(0) saturate(100%) invert(16%) sepia(42%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
}

.learning-words-2>section:last-child>img {
    position: absolute;
    width: 9.222vh;
    height: auto;
    inset: -11.5% 86.5% auto auto;
    transform: rotate3d(1, 20, 1, 210deg);
    filter: brightness(0) saturate(100%) invert(16%) sepia(42%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
}

.learning-words-2>section:first-child {
    margin-bottom: 90px;
}

.learning-words-2>section>h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
    color: #694D2F;
    font-family: "Impact";
}

.learning-words-2>section>p {
    font-size: 18px;
    color: #694D2F;
    font-family: 'Roboto';
}



/* #endregion */

/* #region */




.printing {
    z-index: 4;
    flex: none;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    padding-top: 7.889vh;
    padding-bottom: 7.889vh;
    display: flex;
    background-color: #EEE9D7;
}

.printing-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.printing-area .bg-effect {
    position: absolute;
    width: 101%;
    height: 335px;
    background-color: #A96F44;
    inset: auto auto -19% 0%;
    z-index: -1;
    transform: skew(0deg, 356deg);
}

.printing-area>abbr {
    color: #000;
    font-size: 22px;
    font-family: "TT-SARS-A-LIGHT", sans-serif, sans-serif;
    margin-bottom: 15px;
    font-weight: 900;
}

.printing-area .right-gif {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: -0.5% 16.5% auto auto;
}

.printing-area .left-gif {
    position: absolute;
    width: 7.889vh;
    height: auto;
    inset: 41% auto auto 18%;
}

.printing-area>span {
    color: #EEE9D7;
    font-family: serif;
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    background-color: #A96F44;
    min-width: 600px;
    padding: 8px 66px;
    text-align: center;
}

.printing-area>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border-width: 33px 0px 33px 33px;
    border-color: transparent transparent transparent #eee9d7;
    border-style: solid;
}

.printing-area>span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    border-width: 33px 33px 33px 0px;
    border-color: transparent #eee9d7 transparent transparent;
    border-style: solid;
}

.printing-area>section {
    margin-top: 35px;
    text-align: center;
    padding: 0 230px;
}

.printing-area>section>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}


.printing-area>article {
    text-align: center;
    margin-top: 49px;
    position: relative;
}

.printing-area>article>a {
    position: absolute;
    inset: 40% auto auto 42%;
    padding: 17.89px 23px;
    background-color: #00000075;
    border-radius: 50%;
    font-size: 41px;
    z-index: 10;
    color: #f3efe6 !important;
    text-decoration: none;
}


.printing-area>article>img {
    width: 506px;
}

.printing-area>article>img.to-watch {
    position: absolute;
    width: 20.222vh;
    height: auto;
    inset: 4.5% -54.5% auto auto;
    filter: brightness(0) saturate(100%) invert(16%) sepia(42%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
}



/* #endregion */

/* #region */
.printing-2 {
    z-index: 4;
    flex: none;
    width: 475px;
    height: 100%;
    display: flex;
    background-color: #F4EFE1;
    padding: 6.889vh;
    padding-top: 6.889vh;
    display: flex;
    flex-flow: column;
    position: relative;
}

.printing-2>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.printing-2>img {
    width: 240px;
    display: block;
    margin: 0 auto;
}

.printing-2>img.printing-2-gif {
    position: absolute;
    width: 17.222vh;
    height: auto;
    inset: 7.5% 57.5% auto auto;
}



/* #endregion */

/* #region */

.printing-3 {
    z-index: 4;
    flex: none;
    width: 952px;
    height: 100%;
    display: flex;
    background-color: #EDEDE9;
    padding: 6.889vh;
    padding-top: 6.889vh;
    display: flex;
    flex-flow: column;
}

.printing-3-area-left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}

.printing-3-area-left>p {
    margin-bottom: 100px;
    max-width: 315px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.printing-3-area-left>img {
    width: 85%;
}

.printing-3-area-left .printing-left-gift {
    width: 13%;
    inset: 21% 8.5% auto auto;
    position: absolute;
    filter: invert(43%) sepia(56%) saturate(5500%) hue-rotate(320deg) brightness(95%) contrast(70%);
    transform: rotate(70deg);
}

.printing-3-area-left .printing-right-gif {
    width: 13%;
    inset: -2% 92.5% auto auto;
    position: absolute;
    filter: invert(43%) sepia(56%) saturate(5500%) hue-rotate(320deg) brightness(95%) contrast(70%);
    transform: rotate(80deg);
}




.printing-3-area-right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}

.printing-3-area-right>p {
    max-width: 315px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-left: 15px;
}

.printing-3-area-right>p:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 40%;
    left: 0;
    background-color: #000000;
}

.printing-3-area-right>img {
    width: 100%;
}




.printing-3-area-right .printing-bottom-gif {
    width: 22%;
    inset: 71% 92.5% auto auto;
    position: absolute;
    transform: rotate(240deg);
}


/* #endregion */

/* #region */

.typography-machine {
    z-index: 4;
    flex: none;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    padding-top: 7.889vh;
    padding-bottom: 7.889vh;
    display: flex;
    background-color: #EEE9D7;
}

.typography-machine-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.typography-machine-area .bg-effect {
    position: absolute;
    width: 101%;
    height: 335px;
    background-color: #606060;
    inset: auto auto -19% 0%;
    z-index: -1;
    transform: skew(0deg, 356deg);
}

.typography-machine-area>abbr {
    color: #000;
    font-size: 22px;
    font-family: "TT-SARS-A-LIGHT", sans-serif, sans-serif;
    margin-bottom: 15px;
    font-weight: 900;
}

.typography-machine-area .right-gif {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: -0.5% 16.5% auto auto;
}

.typography-machine-area .left-gif {
    position: absolute;
    width: 7.889vh;
    height: auto;
    inset: 41% auto auto 18%;
}

.typography-machine-area>span {
    color: #EEE9D7;
    font-family: serif;
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    background-color: #606060;
    min-width: 600px;
    padding: 8px 66px;
    text-align: center;
}

.typography-machine-area>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border-width: 33px 0px 33px 33px;
    border-color: transparent transparent transparent #eee9d7;
    border-style: solid;
}

.typography-machine-area>span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    border-width: 33px 33px 33px 0px;
    border-color: transparent #eee9d7 transparent transparent;
    border-style: solid;
}

.typography-machine-area>section {
    margin-top: 35px;
    text-align: center;
    padding: 0 230px;
}

.typography-machine-area>section>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}


.typography-machine-area>article {
    text-align: center;
    margin-top: 49px;
}

.typography-machine-area>article>img {
    width: 20%;
}


/* #endregion */

/* #region */


.typography-machine-2 {
    z-index: 4;
    flex: none;
    width: 481px;
    height: 100%;
    display: flex;
    background-color: #EDEDE9;
    padding: 6.889vh;
    padding-top: 6.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}

.typography-machine-2>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

.typography-machine-2 .typography-machine-2-gif {
    position: absolute;
    width: 21.222vh;
    z-index: -1;
    inset: 4.5% 51.5% auto auto;
}

.typography-machine-2>section>img {
    width: 100%;
}

.typography-machine-2>section {
    position: relative;
}

.typography-machine-2>section>a {
    position: absolute;
    inset: 40% auto auto 42%;
    padding: 17.89px 23px;
    background-color: #00000075;
    border-radius: 50%;
    font-size: 41px;
    z-index: 10;
    color: #f3efe6 !important;
    text-decoration: none;
}

.typography-machine-2>section .to-watch {
    position: absolute;
    width: 13.222vh;
    height: auto;
    inset: -17.5% -7.5% auto auto;
    filter: brightness(0) saturate(100%) invert(16%) sepia(42%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
}

/* #endregion */

/* #region */
.photography-invention {
    z-index: 4;
    flex: none;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    padding-top: 7.889vh;
    padding-bottom: 7.889vh;
    display: flex;
    background-color: #EEE9D7;
}

.photography-invention-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.photography-invention-area .bg-effect {
    position: absolute;
    width: 101%;
    height: 335px;
    background-color: #818181;
    inset: auto auto -19% 0%;
    z-index: -1;
    transform: skew(0deg, 356deg);
}

.photography-invention-area>abbr {
    color: #000;
    font-size: 22px;
    font-family: "TT-SARS-A-LIGHT", sans-serif, sans-serif;
    margin-bottom: 15px;
    font-weight: 900;
}

.photography-invention-area .right-gif {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: -0.5% 16.5% auto auto;
    filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(94%) contrast(88%);
}

.photography-invention-area .left-gif {
    position: absolute;
    width: 7.889vh;
    height: auto;
    inset: 36% auto auto 27%;
    filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(94%) contrast(88%);
}

.photography-invention-area>span {
    color: #EEE9D7;
    font-family: serif;
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    background-color: #818181;
    min-width: 600px;
    padding: 8px 66px;
    text-align: center;
}

.photography-invention-area>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border-width: 33px 0px 33px 33px;
    border-color: transparent transparent transparent #eee9d7;
    border-style: solid;
}

.photography-invention-area>span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    border-width: 33px 33px 33px 0px;
    border-color: transparent #eee9d7 transparent transparent;
    border-style: solid;
}

.photography-invention-area>section {
    margin-top: 35px;
    text-align: center;
    padding: 0 230px;
}

.photography-invention-area>section>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}


.photography-invention-area>article {
    text-align: center;
    margin-top: 49px;
    position: relative;
}

.photography-invention-area>article>img {
    width: 40%;
}

.photography-invention-area>article .to-watch {
    position: absolute;
    width: 24.222vh;
    height: auto;
    inset: 26.5% 11.5% auto auto;
    filter: brightness(0) saturate(100%) invert(16%) sepia(42%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
    transform: rotate(35deg);
}

.photography-invention-area>article>a {
    position: absolute;
    inset: 41% auto auto 47%;
    padding: 17.89px 23px;
    background-color: #00000075;
    border-radius: 50%;
    font-size: 41px;
    z-index: 10;
    color: #f3efe6 !important;
    text-decoration: none;
}



/* #endregion */

/* #region */

.photography-invention-2 {
    z-index: 4;
    flex: none;
    width: 960px;
    height: 100%;
    display: flex;
    background-color: #231F20;
    padding: 6.889vh;
    padding-top: 6.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.photography-invention-2 .top-area {
    width: 100%;
}

.photography-invention-2 .top-area>section {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.photography-invention-2 .top-area>section .images-4 {
    width: 325px;
}


.photography-invention-2 .top-area>section .vs-1873 {
    height: 35px;
    position: absolute;
    bottom: 10vh;
}

.photography-invention-2 .top-area>section .mark-left {
    width: 5.778vh;
    inset: auto auto -21.5% -1.5%;
    position: absolute;
}

.photography-invention-2 .top-area>section .mark-right {
    width: 6.889vh;
    inset: -20% -2% auto auto;
    position: absolute;
}



.photography-invention-2 .bottom-area>article {
    margin-top: 45px;
    padding: 0px 0px 0px 19px;
    border-left: 4px solid #C54357;

}

.photography-invention-2 .bottom-area>article>p {
    color: #EEE9D7;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    position: relative;

}

.photography-invention-2 .bottom-area>article>p>span {
    color: #C54357 !important;

}

.photography-invention-2 .bottom-area>p {
    color: #EEE9D7;
    margin-top: 70px;
    font-size: 18.6px;
    font-family: "Roboto", sans-serif;

}

.photography-invention-2 .bottom-area>p span {
    color: #C54357;
}

.photography-invention-2 .bottom-area p img {
    width: 18.889vh;
    inset: auto auto 5px 7%;
    position: absolute;
}

/* #endregion */

/* #region */

.art-and-craft {
    z-index: 4;
    flex: none;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    padding-top: 7.889vh;
    padding-bottom: 7.889vh;
    display: flex;
    background-color: #EEE9D7;
}

.art-and-craft-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.art-and-craft-area .bg-effect {
    position: absolute;
    width: 101%;
    height: 335px;
    background-color: #A22E0C;
    inset: auto auto -19% 0%;
    z-index: -1;
    transform: skew(0deg, 356deg);
}

.art-and-craft-area>abbr {
    color: #000;
    font-size: 22px;
    font-family: "TT-SARS-A-LIGHT", sans-serif, sans-serif;
    margin-bottom: 15px;
    font-weight: 900;
}

.art-and-craft-area .right-gif {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: -0.5% 16.5% auto auto;
    filter: brightness(0) saturate(100%) invert(20%) sepia(95%) saturate(2777%) hue-rotate(357deg) brightness(89%) contrast(94%);
}

.art-and-craft-area .left-gif {
    position: absolute;
    width: 7.889vh;
    height: auto;
    inset: 30% auto auto 36%;
    filter: brightness(0) saturate(100%) invert(20%) sepia(95%) saturate(2777%) hue-rotate(357deg) brightness(89%) contrast(94%);
}

.art-and-craft-area>span {
    color: #EEE9D7;
    font-family: serif;
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    background-color: #A22E0C;
    min-width: 600px;
    padding: 8px 66px;
    text-align: center;
}

.art-and-craft-area>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border-width: 33px 0px 33px 33px;
    border-color: transparent transparent transparent #eee9d7;
    border-style: solid;
}

.art-and-craft-area>span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    border-width: 33px 33px 33px 0px;
    border-color: transparent #eee9d7 transparent transparent;
    border-style: solid;
}

.art-and-craft-area>section {
    margin-top: 35px;
    text-align: center;
    padding: 0 230px;
}

.art-and-craft-area>section>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.art-and-craft-area>section>p>strong {
    color: #a22e0c;
}

.art-and-craft-area>article {
    text-align: center;
    margin-top: 49px;
}

.art-and-craft-area>article>img {
    width: 30%;
}



/* #endregion */

/* #region */
.art-and-craft-2 {
    z-index: 4;
    flex: none;
    width: 960px;
    height: 100%;
    display: flex;
    background-color: #A22E0C;
    padding: 11.889vh;
    padding-top: 12.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.art-and-craft-2>section:first-child {
    margin-bottom: 90px;
}

.art-and-craft-2>section>h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
    color: #fff;
    font-family: "Impact";
}

.art-and-craft-2>section>p {
    font-size: 17px;
    color: #ffdbdb;
    font-family: 'Roboto';
}

.art-and-craft-2>section>p strong {
    color: #fff;
}

/* #endregion */

/* #region */

.art-and-craft-3 {
    z-index: 4;
    flex: none;
    width: 960px;
    height: 100%;
    display: flex;
    background-image: url('./images/printing/50Arts-Crafts-Hareketi.png');
    padding: 11.889vh;
    padding-top: 12.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.art-and-craft-3-area {
    background-color: #F4EFE1;
    height: 100%;
    padding: 80px;
}

.art-and-craft-3-area>section {
    margin-bottom: 80px;
}

.art-and-craft-3-area>section>p {
    color: #231F20;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    padding-left: 25px;
    position: relative;
}

.art-and-craft-3-area>section>p>strong {
    color: #A5302E;
}

.art-and-craft-3-area>section>p::before {
    position: absolute;
    width: 2px;
    height: 80%;
    background-color: #A22E0C;
    content: "";
    left: 0;
}

.art-and-craft-3-area>p>strong {
    color: #231F20;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.art-and-craft-3-area>p>strong {
    color: #A5302E;
}

/* #endregion */

/* #region */



.art-and-craft-4 {
    z-index: 4;
    flex: none;
    width: 460px;
    height: 100%;
    display: flex;
    background-color: #A22E0C;
    padding: 8.889vh;
    padding-top: 8.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.art-and-craft-4>p {
    color: #ffdbdb;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;

}

.art-and-craft-4>p>strong {
    color: #fff;

}


.art-and-craft-4>img {
    width: 100%;
}

/* #endregion */

/* #region */

.art-and-craft-5 {
    z-index: 4;
    flex: none;
    width: 960px;
    height: 100%;
    display: flex;
    background-color: #D2C59D;
    padding: 8.889vh;
    padding-top: 8.889vh;
    display: flex;
    flex-flow: column;
    justify-content: end;
    position: relative;
}

.art-and-craft-5-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: top center;
    animation: swingWindStrong 6s ease-in-out infinite;
}

/* Daha belirgin rüzgar etkisi */
@keyframes swingWindStrong {
    0% {
        transform: translateX(-50%) rotate(0deg) translateY(0);
    }

    15% {
        transform: translateX(-50%) rotate(10deg) translateY(3px);
    }

    30% {
        transform: translateX(-50%) rotate(-9deg) translateY(-2px);
    }

    45% {
        transform: translateX(-50%) rotate(8deg) translateY(4px);
    }

    60% {
        transform: translateX(-50%) rotate(-8deg) translateY(-3px);
    }

    75% {
        transform: translateX(-50%) rotate(4deg) translateY(2px);
    }

    100% {
        transform: translateX(-50%) rotate(0deg) translateY(0);
    }
}

.art-and-craft-5>img {
    width: 45%;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px !important;
}

.art-and-craft-5>section {
    margin-bottom: 45px;
}

.art-and-craft-5>section>p {
    font-size: 17px;
    color: #231F20;
    font-family: 'Roboto';
    position: relative;
    padding-left: 20px;
}

.art-and-craft-5>section>p::before {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #A22E0C;
    content: "";
    left: 0;

}

.art-and-craft-5>p {
    font-size: 17px;
    color: #231F20;
    font-family: 'Roboto';
    position: relative;
    padding-left: 20px;
}

/* #endregion */

/* #region */

.art-and-craft-6 {
    z-index: 4;
    flex: none;
    width: 460px;
    height: 100%;
    display: flex;
    background-color: #A22E0C;
    padding: 8.889vh;
    padding-top: 8.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.art-and-craft-6>p {
    color: #ffdbdb;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;

}

.art-and-craft-6>p>strong {
    color: #fff;

}


.art-and-craft-6>img {
    width: 100%;
}


/* #endregion */


/* #region */
.art-nouveu {
    z-index: 4;
    flex: none;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    padding-top: 7.889vh;
    padding-bottom: 7.889vh;
    display: flex;
    background-color: #EEE9D7;
}

.art-nouveu-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.art-nouveu-area .bg-effect {
    position: absolute;
    width: 101%;
    height: 335px;
    background-color: #D98F4F;
    inset: auto auto -19% 0%;
    z-index: -1;
    transform: skew(0deg, 356deg);
}

.art-nouveu-area>abbr {
    color: #000;
    font-size: 22px;
    font-family: "TT-SARS-A-LIGHT", sans-serif, sans-serif;
    margin-bottom: 15px;
    font-weight: 900;
}

.art-nouveu-area .right-gif {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: -0.5% 16.5% auto auto;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(839%) hue-rotate(344deg) brightness(91%) contrast(87%);
}

.art-nouveu-area .left-gif {
    position: absolute;
    width: 7.889vh;
    height: auto;
    inset: 33% auto auto 39%;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(839%) hue-rotate(344deg) brightness(91%) contrast(87%);
}

.art-nouveu-area>span {
    color: #EEE9D7;
    font-family: serif;
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    background-color: #D98F4F;
    min-width: 600px;
    padding: 8px 66px;
    text-align: center;
}

.art-nouveu-area>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border-width: 33px 0px 33px 33px;
    border-color: transparent transparent transparent #eee9d7;
    border-style: solid;
}

.art-nouveu-area>span::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    border-width: 33px 33px 33px 0px;
    border-color: transparent #eee9d7 transparent transparent;
    border-style: solid;
}

.art-nouveu-area>section {
    margin-top: 35px;
    text-align: center;
    padding: 0 230px;
}

.art-nouveu-area>section>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}


.art-nouveu-area>article {
    text-align: center;
    margin-top: 49px;
}

.art-nouveu-area>article>img {
    width: 80%;
}

/* #endregion */








/* #region */


.art-nouveu-2 {
    z-index: 4;
    flex: none;
    width: 960px;
    height: 100%;
    display: flex;
    background-color: #D98F4F;
    padding: 11.889vh;
    padding-top: 12.889vh;
    display: flex;
    flex-flow: column;
}

.art-nouveu-2>section:first-child {
    margin-bottom: 90px;
}

.art-nouveu-2>section>h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
    color: #fff;
    font-family: "Impact";
}

.art-nouveu-2>section>p {
    font-size: 17px;
    color: #FFF;
    font-weight: 300;
    font-family: 'Roboto';
}

.art-nouveu-2>section>p strong {
    font-weight: bold;
}

.art-nouveu-2>section>p strong {
    color: #fff;
}

.art-nouveu-2>section {
    position: relative;
}

.art-nouveu-2>section {
    position: relative;
}


.art-nouveu-2>section:first-child>img {
    position: absolute;
    width: 8.222vh;
    height: auto;
    inset: -15.5% 10.5% auto auto;
    filter: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
}

.art-nouveu-2>section:last-child>img {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: -11.5% 86.5% auto auto;
    transform: rotate3d(1, 20, 1, 210deg);
    filter: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(591%) hue-rotate(354deg) brightness(165%) contrast(82%);
}

/* #endregion */


/* #region */
.art-nouveu-3 {
    z-index: 4;
    flex: none;
    width: 960px;
    height: 100%;
    display: flex;
    background-color: #EBE6D4;
    padding: 6.889vh;
    padding-top: 5.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


.art-nouveu-3-area-right>img {
    width: 100%;

}

.art-nouveu-3-area-left {
    position: relative;

}

.art-nouveu-3-area-left>p {
    margin-bottom: 40px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
}

.art-nouveu-3-area-left>img {
    width: 40%;

}

.art-nouveu-3-img-1 {
    position: absolute;
    inset: auto auto -13% 23%;
    width: 55% !important;
}

.art-nouveu-3-img-2 {
    position: absolute;
    inset: auto auto -21% 70%;
    width: 80% !important;
}


/* #endregion */

.art-nouveu-4 {
    z-index: 4;
    flex: none;
    width: 1440px;
    height: 100%;
    display: flex;
    background-color: #fff;
    padding: 6.889vh;
    padding-top: 5.889vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}

.art-nouveu-4::before {
    content: "";
    position: absolute;
    width: 101%;
    height: 75px;
    background-color: #D98F4F;
    inset: -4% -1% auto auto;
    z-index: -1;
    transform: skew(0deg, 2deg);
}

.art-nouveu-4::after {
    content: "";
    position: absolute;
    width: 101%;
    height: 75px;
    background-color: #D98F4F;
    inset: auto auto -4% 0%;
    z-index: -1;
    transform: skew(0deg, -2deg);
}

.art-nouveu-4-area {
    padding: 110px 10px;
    position: relative;
}

.art-nouveu-4-area>img {
    position: absolute;
    width: 7.222vh;
    height: auto;
    inset: 23.5% 71.5% auto auto;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(839%) hue-rotate(344deg) brightness(91%) contrast(87%);
}

.art-nouveu-4-area-left>img {
    width: 295px;
}

.art-nouveu-4-area-left>p {
    margin-top: 40px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
}

.art-nouveu-4-area-middle>img {
    width: 50%
}

.art-nouveu-4-area-middle>p {
    margin-top: 40px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
}


.art-nouveu-4-area-right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}


.art-nouveu-4-area-right>img {
    width: 80%;
}


.art-nouveu-4-area-right .art-nouveu-4-area-right-gif-1 {
       width: 24.778vh;
    inset: 43% auto auto 10%;
    position: absolute;
     filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(839%) hue-rotate(344deg) brightness(91%) contrast(87%);
}

.art-nouveu-4-area-right>p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
    position: relative;
    padding-left: 15px;
}

.art-nouveu-4-area-right>p::before {
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #D98F4F;
    content: "";
    left: 0;
    top: 0;

}



.art-nouveu-4 .art-nouveu-4-area .art-nouveu-4-gif-1 {
    width: 8.778vh;
    inset: 35% auto auto 2%;
    position: absolute;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(839%) hue-rotate(344deg) brightness(91%) contrast(87%);

}

.art-nouveu-4 .art-nouveu-4-area .art-nouveu-4-gif-2 {
    width: 8.778vh;
    inset: 11% auto auto 47%;
    position: absolute;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(839%) hue-rotate(344deg) brightness(91%) contrast(87%);
}